<%- include('./layouts/header.ejs') -%>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">HTTP VERB</th>
        <th scope="col">PATH</th>
        <th scope="col">QUERY PARAMS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>GET</td>
        <td>/artigos</td>
        <td>N/A</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>POST</td>
        <td>/artigos</td>
        <td>title,content</td>
      </tr>
     
    </tbody>
  </table>
</div>

<%- include('./layouts/footer.ejs') -%>