<%- include('./layouts/header.ejs') -%>

<div class="container">

  <section class="text-center">
    <img style="margin-bottom: 1rem" src="img/coding.png" width="150"/>
  </section>

  <section>
    <%- include('./layouts/card.ejs'); -%>
  </section>
</div>

<%- include('./layouts/footer.ejs') -%>